@{
    ViewBag.Title = "Logout";
}

<div class="container text-center">
    <h3>Sie wurden erfolgreich ausgeloggt</h3>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Zur Startseite</a>
</div>

