@{
    ViewBag.Title = "New Article";
}
@model DbToApp2.Models.Database.Article

<h1>Add new Article:</h1>

<form asp-action="CreateArticle" method="post">
    <div class="mb-2">
        <label asp-for="Headline" class="form-label"></label>
        <input asp-for="Headline" class="form-control" />
        <span asp-validation-for="Headline"></span>
    </div>
    <div class="mb-2">
        <label asp-for="Content" class="form-label"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content"></span>
    </div>
    <div class="mb-2">
        <label asp-for="AuthorId" class="form-label"></label>
        <select asp-for="AuthorId" class="form-select" asp-items="@ViewBag.Authors">
            <option value="">&lt;Choose an author&gt;</option>
        </select>
        <span asp-validation-for="AuthorId"></span>
    </div>
    <div class="mb-2">
        <label asp-for="ImageFile" class="form-label"></label>
        <select asp-for="ImageFile" class="form-select" asp-items="@ViewBag.Images">
            <option value="">&lt;Choose an image file&gt;</option>
        </select>
        <span asp-validation-for="ImageFile"></span>
    </div>
    <div class="mb-lg-2">
        <button type="submit" class="btn btn-success">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
</form>