@{
    ViewBag.Title = "Edit";
}

@model Project

<div class="container">
    <h1>Edit Project</h1>
    <form asp-action="Create" asp-route-id="@Model.Id" method="post">
        <input type="hidden" asp-for="Id"></input>

        <div class="mb-2">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control"></input>
            <span asp-validation-for="Title"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="mb-2 input-group">
            <span class="input-group-text">Company</span>
            <select asp-for="CustomerId" class="form-select" asp-items="@ViewBag.Customers" aria-label="Company">
                <option value="">&lt;Company auswählen&gt;</option>
            </select>
        </div>
        <div class="mb-4 row">
            <div class="col input-group">
                <span class="input-group-text">Start</span>
                <input asp-for="Start" class="form-control" type="datetime-local" aria-label="Start"></input>
                <span asp-validation-for="Start"></span>
            </div>
            <div class="col input-group">
                <span class="input-group-text">Ende</span>
                <input asp-for="End" class="form-control" type="datetime-local" aria-label="Ende"></input>
                <span asp-validation-for="End"></span>
            </div>
        </div>
        <a class="btn btn-danger" asp-action="Index">Zurück</a>
        <button type="submit" class="btn btn-success">Speichern</button>
    </form>
</div>