@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
    <h1 class="display-4">Einkaufsliste</h1>
    <a asp-action="ArtikelForm" class="btn btn-primary">Neue Position</a>
    <a asp-action="ArtikelAnsehen" class="btn btn-success">Artikel ansehen</a>
</div>

